@import "nib"
@import "normalize.styl"

minicool = #7EC9CE

html, body
	margin 0
	padding 0
	width 100%
	min-width 1000px

*
	box-sizing border-box

body
	font-size 14px
	font-weight 100
	line-height 20px
	position relative
	
	&.moving
		width 100px !important
		overflow hidden !important

.left
	float left

.right
	float right !important

.clearfix
	clear both

a
	color black
	text-decoration none

#wrapper
	display block
	width 1000px
	margin 0 auto
	// height 8150px
	z-index 100
	left 50%
	margin-left -500px
	
	.logo
		position fixed
		top 40px
		left 40px
		width 200px
		
		img
			width 100%
			height auto
			
	.pagina
		position relative
		display block
		height 550px
		margin-top 200px
		
		div
			position absolute
		
		.mensaje
			padding 30px
			font-size 15px
			background-color white
			border-radius 30px 30px 30px 0px
			position absolute
			width 300px
			box-shadow 4px 4px 10px #999
			font-family 'Roboto Slab', serif
			font-weight 300
			color #666
			opacity 0
			
			span
				color minicool
				font-weight 300
				
			&.derecha
				border-radius 30px 30px 0px 30px
				
		.senal2, .senal
			span
				font-size 30px
				position absolute
				top 10px
				left 31px
				width 80px
				font-weight 100
				line-height 30px
				color #666
				text-align center
				font-family 'Amatic SC', cursive
				
		.abiertocerrado
			.abiertos
				opacity 0
				z-index 1
				
			.cerrados
				z-index 0
			
		img
			width 100%
			height auto
			
		.inicial
			position relative
			width 100%
			height 1px
			display block
			float left
			
	#pagina1
		margin-top 100px
		
		.saturnosup
			width 702px
			margin 0 auto
			position absolute
			display block
			top 150px
			left 150px
			
		.astronauta
			top 176px
			right 155px
			width 60px
			
		.mensaje
			top 40px
			right 20px
				
		.libro
			width 470px
			top 115px
			left 105px
			
		.navepeque
			left 200px
			bottom 0px
			
		.raton_volador
			left 20px
			bottom 50px
			
		.pajarotop
			left 510px
			top 330px
			
		.ratontop
			left 630px
			top 294px
			
		.navetop
			right 0px
			bottom 0px
			
	#pagina2
		.satelite
			width 106px
			top 40px
			right 40px
			
		.senal2
			width 154px
			left 420px
			bottom 40px
			
			span
				transform rotate(3deg)
			
		.nave_esp
			width 132px
			left 40px
			bottom 40px
			height 297px
			
			.esp11
				top 0px
				left 0px
				position absolute
				
			.esp22
				top 0px
				left 0px
				position absolute
			
		.mensaje
			top 30px
			left 250px
			width 400px
			
	#pagina3
		.satelite
			width 106px
			top 40px
			left 40px
			
		.senal
			width 154px
			right 320px
			bottom 40px
			
			span
				transform rotate(-10deg)
				top 17px
			
		.pajaro1
			width 101px
			right 40px
			bottom 140px
			height 187px
			
			.pajaro11
				top 0px
				left 0px
				position absolute
				
			.pajaro22
				top 0px
				left 0px
				position absolute
				
			
		.mensaje
			top 30px
			left 400px
			width 400px
			
	#pagina4
		.cohetewhite
			right 30px
			top 30px
			width 143px
			
		.mensaje
			top 30px
			left 300px
			width 400px
			
		.senal2
			width 154px
			left 420px
			bottom 40px
			
			span
				transform rotate(3deg)
			
		.jupiter1
			bottom 20px
			left 20px
			width 256px
		
		.raton_volador
			bottom 200px
			left 90px
			width 145px
			
	#pagina5
		.satelite2
			width 158px
			right 40px
			top 50px
			
		.senal
			right 350px
			bottom 40px
			
			span
				transform rotate(-10deg)
				top 11px
		
		.gato1
			right 30px
			bottom 100px
			
		.mensaje
			top 30px
			left 350px
			width 400px
			
	#pagina6
		.navewhite
			right 0px
			top 200px
			width 132px
			
		.mensaje
			top 30px
			left 300px
			width 400px
			
		.senal2
			width 154px
			left 420px
			bottom 40px
			span
				transform rotate(3deg)
					
		.planeta1
			bottom 20px
			left 20px
			width 230px
		
		.astronauta
			top 150px
			left 90px
			width 112px
			
	#pagina7
		.satelite
			width 106px
			top 40px
			left 40px
			
		.senal
			right 350px
			bottom 40px
			
			span
				transform rotate(-10deg)
				top 11px
		
		.raton11
			right 30px
			bottom 30px
			width 179px
			height 279px
			
			.raton1, .raton2
				position absolute
				width 179px
				height 279px
				top 0px
				left 0px
			
		.mensaje
			top 30px
			left 350px
			width 400px
			
			
	#pagina8
		.mensaje
			left 50px
			top 150px
			width 250px
			text-align center
			
		.estrellasfondo
			background-image url(../png/estrellas.png)
			background-position center center
			width 100%
			height 100%
			position absolute
			top 0px
			left 0px
			
	#pagina9
		.luna_duerme
			top 40px
			left 30px
			width 211px
			
		.et1
			width 161px
			right 20px
			bottom 20px
			height 202px
			
			img
				opacity 1
				position absolute
				top 0px
				left 0px
				z-index 1
				
			.rueda1, .rueda2
				opacity 1
				width 65px
				height 65px		
				transform-origin center
				position absolute
				z-index 0
				
			.rueda1
				top 113px
				left 0px
				
			.rueda2
				top 136px
				left 93px
					
				
			
		.mensaje
			left 290px
			top 10px
			width 200px
			
			&.derecha
				width 250px
				left auto
				right 180px
				bottom 230px
				top auto
				
		.estrellasfondo
			background-image url(../png/estrellas2.png)
			background-position center center
			width 100%
			height 100%
			position absolute
			top 0px
			left 0px
				
	#pagina10
		.sol
			width 212px
			top 40px
			
			.rayos
				transform-origin center
				
			.carasol
				width 136px
				position absolute
				left 35px
				top 35px
				
			.son_sonrie
				width 136px
				position absolute
				left 37px
				top 37px
			
		.nube_cerrados
			width 212px
			right 40px
			bottom 50px
			height 198px
			
			img
				position absolute
				top 0px
				left 0px
			
		.mensaje
			left 240px
			top 0px
			width 250px
			
			&.derecha
				width 200px
				left auto
				right 250px
				bottom 230px
				top auto
				
		.nubefondo
			background-image url(../png/nubes.png)
			background-position bottom center
			width 100%
			height 100%
			position absolute
			top 0px
			left 0px
	
	#pagina11		
		.mouse1
			width 53px
			left 50%
			margin-left -26px
			top 30px
			opacity 0
		
		.mouse2
			width 53px
			left 50%
			margin-left -26px
			top 110px
			opacity 0
			
		.nubebot
			width 171px
			right 150px
			top -50px
			
	.nave	
		position absolute
		width 270px
		z-index 500
		height 292px
		z-index 90
		
		img
			width 100% 
			height auto	
			opacity 0
			position absolute
			
		.propultierra
			opacity 1
			z-index 2
			
		.abiertosderecha
			z-index 3
			
		.abiertosizquierda
			z-index 3
			
		.fuegocerrados
			z-index 4
		
		.fuegoabiertos
			z-index 3

		.navegeneral
			opacity 1
			z-index 1
			

			

	.suelo
		width 100%
		height 550px
		position absolute
		bottom 0px
		z-index 80
		left 0px
		
		.wrapper
			width 1000px
			position relative
			margin 0 auto
			height 100%
			
			.arboles_derecha
				width 199px
				right 0px
				bottom 185px
				position absolute
				
			.arboles_izquierda
				width 239px
				left 0px
				bottom 127px	
				position absolute	
			
	.imagensuelo			
		background-image url(../png/suelo.png)
		background-position bottom center
		background-repeat no-repeat
		width 100%
		height 100%
		position absolute
		bottom 0px

/** MEDIA QUERIES **/

@media only screen and (max-width: 1280px)

	body
		background-color white
						


@media only screen and (max-width: 1024px)
	
	body
		background-color white

		
@media only screen and (max-width: 640px)
	
	body
		background-color white
						