.boxEdit{
	width:110%;

	
}
.header{text-align: left;padding-bottom: 20px; padding-left:20px;font-size: 18px; color:#119e17;}
.header1{text-align: center;padding-bottom: 20px; font-size: 18px; color:#119e17;}


.content{
	padding: 0px 30px;

}

.content1{

	padding: 0px;

}

.gambar{
	width:180px;top:40px;right:40px;
}

.gambar1{
	width:10px;top:40px;right:40px;
}