

/* counter 
------------------------------------------ */
#counter {
	width: 100%;
	color: #ffcb00;
    text-align: center;
    background: #679a8e63;
    border-radius: 10px;
    height: auto;
    
}

#counter span {
	font:  52px/1em "montserrat-bold", sans-serif;
	display: block;
	padding: 12px 0 30px;
	min-width: 25%;
	float: left;
}

#counter span em {
	font: 11px/18px "montserrat-regular", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 3px;
	display: block;
	color: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width:900px) {
	#counter {
		width: 92%;
	}

	#counter span {
		font: 58px/1em "montserrat-bold", sans-serif;
	}

}

@media only screen and (max-width:768px) {
	#counter {
		width: 100%;
	}

	#counter span {
		font: 52px/1em "montserrat-bold", sans-serif;
	}

}

@media only screen and (max-width:600px) {
	#counter {
		margin-bottom: 24px;
	}

	#counter span {
		font: 48px/1em "montserrat-bold", sans-serif;
	}

}

@media only screen and (max-width:500px) {
	#counter {
		margin-bottom: 12px;
	}

	#counter span {
		font: 37px/1em "montserrat-bold", sans-serif;
	}

	#counter span em {
		font: 9px/18px "montserrat-regular", sans-serif;
		letter-spacing: 1.5px;
	}

}

@media only screen and (max-width:400px) {
	#counter span {
		font: 31px/1em "montserrat-bold", sans-serif;
	}

	#counter span em {
		font: 8px/18px "montserrat-regular", sans-serif;
		letter-spacing: 1px;
	}

}


/* counter 
------------------------------------------ */
#counters {
	width: 100%;
	color: #ffcb00;
    text-align: center;
    background: #679a8e63;
    border-radius: 10px;
}

#counters span {
	font: 62px/1em "montserrat-bold", sans-serif;
	display: block;
	padding: 12px 0 30px;
	min-width: 25%;
	float: left;
}

#counters span em {
	font: 11px/18px "montserrat-regular", sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 3px;
	display: block;
	color: rgba(255, 255, 255, 0.6);
}

@media only screen and (max-width:900px) {
	#counters {
		width: 92%;
	}

	#counters span {
		font: 58px/1em "montserrat-bold", sans-serif;
	}

}

@media only screen and (max-width:768px) {
	#counters {
		width: 100%;
	}

	#counters span {
		font: 52px/1em "montserrat-bold", sans-serif;
	}

}

@media only screen and (max-width:600px) {
	#counters {
		margin-bottom: 24px;
	}

	#counters span {
		font: 48px/1em "montserrat-bold", sans-serif;
	}

}

@media only screen and (max-width:500px) {
	#counters {
		margin-bottom: 12px;
	}

	#counters span {
		font: 37px/1em "montserrat-bold", sans-serif;
	}

	#counters span em {
		font: 9px/18px "montserrat-regular", sans-serif;
		letter-spacing: 1.5px;
	}

}

@media only screen and (max-width:400px) {
	#counters span {
		font: 31px/1em "montserrat-bold", sans-serif;
	}

	#counters span em {
		font: 8px/18px "montserrat-regular", sans-serif;
		letter-spacing: 1px;
	}

}

