/*
* Perla - Perla Template
* Build Date: September 2016
* Author: perleTheme Template
* This is a premium product available exclusively here : https://themeforest.net/user/perletheme
*/
/*
  TABLE OF CONTENTS
  --------------------------------
   TABLE OF CONTENTS
  --------------------------------
  *. 1 - Fonts ...................
  *. 2 - General Styles ..........
  *. 3 - Pre Loader Styles .......
  *. 4 - NavBar Styles ...........
  *. 5 - Header Styles ...........
  *. 6 - About Styles ............
  *. 7 - Features Styles .........
  *. 8 - Showcase Styles .........
  *. 9 - Subscribe Styles .......
  *. 10 - Screenshots Styles .....
  *. 11 - Testimonials Styles ....
  *. 12 - Team Styles ............
  *. 13 - Download Styles ........
  *. 14 - News Styles ............
  *. 15 - Video Styles ...........
  *. 16 - Prices Styles ..........
  *. 17 - Statistics Styles ......
  *. 18 - FAQs Styles ............
  *. 19 - Map Styles .............
  *. 20 - Footer Styles ..........
  *. 21 - Copy Rights Styles .....
  *. 22 - Animated Demos Styles ..
  *. 23 - Blog Pages .............
  *. 24 - 404 Page ...............
  *. 25 - Media Queries ..........
  --------------------------------
*/
/* ------------------------------------- */
/* *. 1 - Fonts ........................ */
/* ------------------------------------- */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500");
/* ------------------------------------- */
/* *. 2 - General Styles ............... */
/* ------------------------------------- */
html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: 'Poppins', sans-serif, "proxima-nova", "Helvetica Neue", Helvetica, Arial;
  font-weight: 400;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: 0;
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #484848;
  font-family: 'Poppins', sans-serif, "proxima-nova", "Helvetica Neue", Helvetica, Arial; }

h5 {
  font-size: 1.6rem; }

h6 {
  font-size: 1.2rem; }

p {
  
  color: #7b7b7b; }

.p-tb-1 {
  padding: 0rem 0; }

.p-tb-2 {
  padding: 2rem 0; }

.p-tb-3 {
  padding: 3rem 0; }

.p-b-1 {
  padding-bottom: 1rem; }

.p-b-2 {
  padding-bottom: 2rem; }

.p-b-3 {
  padding-bottom: 3rem; }

.p-t-1 {
  padding-top: 1rem; }

.p-t-2 {
  padding-top: 2rem; }

.p-t-3 {
  padding-top: 3rem; }

.m-tb-1 {
  margin: 1rem 0; }

.m-tb-2 {
  margin: 2rem 0; }

.m-tb-3 {
  margin: 3rem 0; }

.m-b-1 {
  margin-bottom: 1rem; }

.m-b-2 {
  margin-bottom: 2rem; }

.m-b-3 {
  margin-bottom: 3rem; }

.m-t-1 {
  margin-top: 1rem; }

.m-t-2 {
  margin-top: 2rem; }

.m-t-3 {
  margin-top: 3rem; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10; }

.gradient-color {
  background: #00bf8f;
    background: -moz-linear-gradient(-45deg, #00bf8f, #001510);
    background: -webkit-linear-gradient(-45deg, #00bf8f, #001510);
    background: linear-gradient(135deg, #00bf8f, #001510); }

.reflection-text {
  position: relative;
  color: #353535;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 500; }
  .reflection-text::after {
    content: '';
    bottom: 0;
    position: absolute;
    width: 150px;
    left: calc(50% - 75px);
    height: 20px; }

.reflection-text-white::after {
  background: url(../images/line-break/line-break-white.svg) no-repeat; }

.reflection-text:not(.reflection-text-white)::after {
  background: url(../images/line-break/line-break-12.svg) no-repeat; }

.main-section {
  padding: 5rem 0; }

.very_small_hamburger {
  padding-top: 1.5rem; }
  .very_small_hamburger svg {
    width: 80px;
    height: 50px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .very_small_hamburger path {
    fill: none;
    -webkit-transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25);
    stroke-width: 40px;
    stroke-linecap: round;
    stroke: #ffffff;
    stroke-dashoffset: 0px; }
  .very_small_hamburger path.top,
  .very_small_hamburger path.bottom {
    stroke-dasharray: 240px 950px; }
  .very_small_hamburger path.middle {
    stroke-dasharray: 240px 240px; }
  .very_small_hamburger.open path.top, .very_small_hamburger.open path.bottom {
    stroke-dashoffset: -650px; }
  .very_small_hamburger.open path.middle {
    stroke-dashoffset: -115px;
    stroke-dasharray: 1px 220px; }

.ham-cont {
  margin-left: -11px;
  margin-top: -2px; }
  .ham-cont .very_small_hamburger {
    padding-top: 0; }
  .ham-cont svg {
    width: 60px;
    height: 40px; }

.title-link {
  position: relative;
  overflow: hidden;
  font-weight: 500;
  color: #c7ec8c;
  text-transform: uppercase;
  font-size: 1.5rem; }
  .title-link::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-width: 2px 0;
    color: #ffffff;
    border-style: solid;
    left: 0;
    -webkit-transform: translate3d(-101%, 0, 0);
            transform: translate3d(-101%, 0, 0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; }
  .title-link:hover::before {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  .title-link span {
    display: inline-block;
    position: relative;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
            transform: perspective(1000px) rotate3d(0, 1, 0, 0deg);
    -webkit-transition: color 0.5s, -webkit-transform 0.5s;
    transition: color 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, color 0.5s;
    transition: transform 0.5s, color 0.5s, -webkit-transform 0.5s; }
  .title-link:hover span {
    color: black;
    -webkit-transform: perspective(1000px) rotate3d(0, 1, 0, 360deg);
            transform: perspective(1000px) rotate3d(0, 1, 0, 360deg); }
  .title-link.blacky:hover span {
    color: #0097CD; }
  .title-link span:nth-child(7), .title-link:hover span:first-child {
    -webkit-transition-delay: 0s;
            transition-delay: 0s; }
  .title-link span:nth-child(6), .title-link:hover span:nth-child(2) {
    -webkit-transition-delay: 0.05s;
            transition-delay: 0.05s; }
  .title-link span:nth-child(5), .title-link:hover span:nth-child(3) {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s; }
  .title-link span:nth-child(4), .title-link:hover span:nth-child(4) {
    -webkit-transition-delay: 0.15s;
            transition-delay: 0.15s; }
  .title-link span:nth-child(3), .title-link:hover span:nth-child(5) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s; }
  .title-link span:nth-child(2), .title-link:hover span:nth-child(6) {
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s; }
  .title-link span:first-child, .title-link:hover span:nth-child(7) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s; }

.shadow-button {
  color: #0b0b0b;
  border: 1px solid #0b0b0b;
  margin-top: 2rem;
  border-radius: 30px;
  box-shadow: 0 6px 5px 0 rgba(0, 0, 0, 0.18), 0 1px 9px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  display: inline-block; }
  .shadow-button .fa-arrow-right {
    color: inherit;
    opacity: 0;
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
    -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.2s ease-out 0.1s;
    transition: opacity 0.3s ease-out, -webkit-transform 0.2s ease-out 0.1s;
    transition: transform 0.2s ease-out 0.1s, opacity 0.3s ease-out;
    transition: transform 0.2s ease-out 0.1s, opacity 0.3s ease-out, -webkit-transform 0.2s ease-out 0.1s; }
  .shadow-button:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
    .shadow-button:hover .fa-arrow-right {
      opacity: 1;
      -webkit-transform: translateX(20px);
              transform: translateX(20px); }

.desc {
  max-width: 650px;
  margin: 0 auto;
  text-align: center; }

.owl-nav {
  z-index: -1;
  position: absolute;
  top: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  left: 0;
  margin: 0;
  color: #4e4e4e; }
  .owl-nav i {
    font-size: 3rem;
    padding: 1rem; }
  .owl-nav .disabled {
    opacity: 0.3;
    cursor: default !important; }
  .owl-nav .owl-prev {
    position: absolute;
    left: -70px; }
  .owl-nav .owl-next {
    position: absolute;
    right: -70px; }

.owl-dots {
  padding-top: 1rem;
  margin-top: 0.5rem;
  text-align: center; }
  .owl-dots .owl-dot {
    display: inline-block;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s; }
    .owl-dots .owl-dot:hover {
      opacity: 0.7; }
  .owl-dots .owl-dot span {
    background-color: #c0c0c0;
    display: inline-block;
    height: 2px;
    margin: 5px 7px;
    opacity: 1;
    width: 22px; }
  .owl-dots .owl-dot.active span {
    background-color: #000000; }

i:focus,
a:focus,
a:visited {
  outline: none; }

.hidden {
  display: none; }

/* ------------------------------------- */
/* *. 3 - Pre Loader Styles ............ */
/* ------------------------------------- */
.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  z-index: 10000; }
  .pre-loader .loader {
    width: 2.5em;
    height: 2.5em;
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
    -webkit-transform: rotate(165deg);
            transform: rotate(165deg); }
  .pre-loader .loader:before,
  .pre-loader .loader:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .pre-loader .loader:before {
    -webkit-animation: before 2s infinite;
            animation: before 2s infinite; }
  .pre-loader .loader:after {
    -webkit-animation: after 2s infinite;
            animation: after 2s infinite; }
@-webkit-keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75); }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75); }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75); }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75); } }
@keyframes before {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75); }
  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75); }
  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75); }
  100% {
    box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75); } }
@-webkit-keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75); }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75); }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75); }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75); } }
@keyframes after {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75); }
  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75); }
  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75); }
  100% {
    box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75); } }
/* ------------------------------------- */
/* *. 4 - NavBar Styles ................ */
/* ------------------------------------- */
#main-nav {
  box-shadow: none;
  padding: 0 1rem;
  background: none;
  position: fixed;
  top: 0;
  z-index: 104;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  #main-nav.nav-up {
    top: -60px; }
  #main-nav #nav-color {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 1; }
  #main-nav .nav-wrapper {
    max-width: 1190px;
    margin: 0 auto; }
  #main-nav .logo {
    width: 120px; }
  #main-nav .brand-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0rem; }
    #main-nav .brand-logo .logo {
      max-width: 100%;
      padding-right: 1rem;padding-left: 1rem;
      width: 80px; }
    #main-nav .brand-logo .title-link {
      line-height: 30px; }
  #main-nav .title {
    width: 100px; }
  #main-nav li {
    position: relative; }
  #main-nav a {
    color: inherit;
    font-size: 1.1rem;
    font-weight: 500; }
  #main-nav .menu-item:hover {
    background: none; }
  #main-nav a:not(.no-bg).active {
    background-color: rgba(214, 214, 214, 0.3); }
  #main-nav .dropdown-button i {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    font-size: 1rem;
    margin-left: 0.3rem; }
  #main-nav .dropdown-button.active i {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  #main-nav .dropdown-content {
    background-color: #252525;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }
    #main-nav .dropdown-content a {
      color: #ffffff; }
      #main-nav .dropdown-content a:hover {
        background-color: #5e5e5e; }
  #main-nav .fixed-action-btn {
    position: static;
    padding-top: 0; }
    #main-nav .fixed-action-btn .btn-floating {
      width: 40px;
      height: 40px;
      line-height: 40px;
      margin: 0 0 0 15px; }
      #main-nav .fixed-action-btn .btn-floating i {
        line-height: 40px; }
    #main-nav .fixed-action-btn ul {
      bottom: auto; }
      #main-nav .fixed-action-btn ul li {
        margin-bottom: 0; }
      #main-nav .fixed-action-btn ul i {
        line-height: 40px; }
  #main-nav .button-collapse {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center;
    margin: 0; }
  #main-nav .side-nav {
    background-color: #252525;
    z-index: 1000;
    max-width: 80vw !important; }
    #main-nav .side-nav a {
      color: white;
      border-bottom: 1px solid grey;
      margin: 0 1rem; }
    #main-nav .side-nav .home {
      margin-top: 2rem;
      height: auto;
      text-align: center; }
      #main-nav .side-nav .home a {
        height: auto;
        text-transform: uppercase;
        font-size: 1.5rem; }
    #main-nav .side-nav .collapsible-header {
      padding: 0 32px;
      position: relative; }
      #main-nav .side-nav .collapsible-header i {
        position: absolute;
        right: 0;
        color: inherit;
        font-size: 1rem;
        -webkit-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out; }
      #main-nav .side-nav .collapsible-header.active i {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
    #main-nav .side-nav .collapsible-body {
      background-color: inherit; }
      #main-nav .side-nav .collapsible-body a {
        display: block;
        padding: 0 44px; }
  #main-nav .social {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    #main-nav .social a {
      display: inline-block;
      border-bottom: none;
      padding: 0;
      margin: 0; }
    #main-nav .social i {
      border-radius: 100px;
      font-size: 1.4rem;
      width: 45px;
      height: 45px;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #ffffff;
      margin: 0 0.5rem; }
    #main-nav .social i:hover {
      box-shadow: 0 10px 10px rgba(185, 185, 185, 0.1); }

#sidenav-overlay {
  z-index: 101; }

.drag-target {
  z-index: 101; }

/* ------------------------------------- */
/* *. 5 - Header Styles ................ */
/* ------------------------------------- */
#main-header {
  position: relative;
  height: 100vh;
  min-height: 700px;
  max-height: 900px;
  background: url("img/space.png");
  background-size: cover;
  color: #ffffff;
  padding-top: 64px; }
  #main-header .gradient-color {
    z-index: 0; }
  #main-header .overlay {
    opacity: 0.9; }
  #main-header .header-section {
    position: relative;
    height: 100%;
    color: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #main-header .owl-header {
    position: relative;
    width: 25%;
    z-index: 101; }
  #main-header iframe {
    max-width: 100%;
    width: 600px;
    height: 600px; }
  #main-header #ripples {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    height: auto;
    z-index: 103; }
    #main-header #ripples .arrows {
      position: relative;
      top: 40%;
      margin: 0 2rem; }
      #main-header #ripples .arrows .scene-next {
        position: absolute;
        right: 0;
        top: 0; }
      #main-header #ripples .arrows .scene-prev {
        position: absolute;
        top: 0;
        left: 0; }
      #main-header #ripples .arrows i {
        font-size: 1.55rem; }
    #main-header #ripples canvas {
      display: block;
      position: absolute;
      z-index: 100; 
      min-height: 700px;
      max-width: 100vw;
      overflow: hidden; }
  #main-header .slide-wrapper {
    display: none; }
  #main-header .header-text {
    text-align: left;
    position: relative;
    padding-right: 0rem;
    width: 100%;
    margin-right: 10%;
    margin-top: 0rem;
    z-index: 101; }
  #main-header .title-link {
    letter-spacing: 0.5rem;
    font-size: 1.8vw;
    z-index: 101; }
  #main-header .description {
    color: inherit; }
  #main-header .slogan {
    text-align: center;
    border: 2px solid #6dae2d;
    border-radius: 30px;
    display: inline-block;
    padding: 0.2rem 3rem;
    word-spacing: 3px;
    font-size: 1.1rem;
    color:  #ffff;
    text-transform: uppercase;
    margin: 1rem;
    cursor: pointer; 
      background:  #6dae2d;
}  #main-header .slogan1 {
    text-align: center;
    border: 2px solid #6dae2d;
    border-radius: 10px;
    display: inline-block;
    padding: 1rem 2rem;
    word-spacing: 3px;
    font-size: 1.4rem;
    color:  #ffff;
    text-transform: uppercase;
    margin: 1rem;
    cursor: pointer; 
      background:  #6dae2d;
   

}
  #main-header a {
    color: inherit;
    padding: 0.0rem;
    font-size: 1.4rem; }
  #main-header .apperle-count-down-wrapper h4 {
    color: inherit; }
  #main-header .apperle-count-down-wrapper #clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px; }
  #main-header .apperle-count-down-wrapper #clockdiv > div {
    padding: 10px;
    margin: 5px 0;
    border-radius: 3px;
    background: #1994bf;
    display: inline-block; }
  #main-header .apperle-count-down-wrapper #clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.24);
    display: inline-block; }
  #main-header .apperle-count-down-wrapper .smalltext {
    padding-top: 5px;
    font-size: 16px; }

/* ------------------------------------- */
/* *. 6 - About Styles ................. */
/* ------------------------------------- */
#about-us .col:hover i {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.22); }
#about-us .icon i {
  border-radius: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  color: #ffffff; }
#about-us img {
  max-width: 120px;
  max-height: 120px; }

/* ------------------------------------- */
/* *. 7 - Features Styles .............. */
/* ------------------------------------- */
#features {
  position: relative;
  background-size: cover;
  color: #ffffff; }
  #features .overlay {
    opacity: 0.9; }
  #features .container {
    position: relative;
    z-index: 10; }
  #features .single-feature {
    padding: 0.5rem; }
  #features .reflection-text,
  #features h5,
  #features p,
  #features a,
  #features i {
    color: inherit; }
  #features .feature-left a {
    text-align: right; }
    #features .feature-left a::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -20%;
      width: 0;
      height: 2px;
      background-color: #0a0e0a;
      opacity: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transition: width 0.4s ease-out;
      transition: width 0.4s ease-out; }
    #features .feature-left a::before {
      content: '';
      position: absolute;
      top: 50%;
      right: -21%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #0a0e0a;
      opacity: 0;
      -webkit-transform: translateY(-48%);
              transform: translateY(-48%);
      -webkit-transition: opacity 0.4s ease-out;
      transition: opacity 0.4s ease-out; }
  #features .feature-right a {
    text-align: left;
    -webkit-transition: width 0.4s ease-out;
    transition: width 0.4s ease-out; }
    #features .feature-right a::after {
      content: '';
      position: absolute;
      top: 50%;
      left: -20%;
      width: 0;
      height: 2px;
      background-color: #0a0e0a;
      opacity: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      -webkit-transition: width 0.4s ease-out;
      transition: width 0.4s ease-out; }
    #features .feature-right a::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -21%;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #0a0e0a;
      opacity: 0;
      -webkit-transform: translateY(-48%);
              transform: translateY(-48%);
      -webkit-transition: opacity 0.4s ease-out;
      transition: opacity 0.4s ease-out; }
  #features .feature-link {
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 10px;
    position: relative;
    z-index: 10;
    overflow: visible; }
    #features .feature-link.active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      #features .feature-link.active i::after {
        -webkit-animation: rotateEffect 8s linear infinite;
                animation: rotateEffect 8s linear infinite;
        display: block; }
    #features .feature-link.active::after {
      opacity: 1;
      width: 30%; }
    #features .feature-link.active::before {
      opacity: 1; }
    #features .feature-link i {
      position: relative;
      margin: 0 1rem;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
      text-align: center;
      font-size: 2rem;
      line-height: 4rem;
      background: rgba(0, 0, 0, 0.42); }
    #features .feature-link i::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 2px dashed white;
      top: 0;
      left: 0;
      display: none; }
@-webkit-keyframes rotateEffect {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
@keyframes rotateEffect {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
  #features .images-slider .owl-features {
    max-width: 300px;
    margin: 0 auto; }

/* ------------------------------------- */
/* *. 8 - Showcase Styles .............. */
/* ------------------------------------- */
#showcase {
  position: relative;
  overflow: hidden; }
  #showcase .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.05; }
  #showcase .container,
  #showcase h3 {
    position: relative;
    z-index: 20; }
  #showcase .row:last-child {
    padding-bottom: 0; }
  #showcase .col {
    position: relative; }
  #showcase .title {
    font-size: 110%; }
  #showcase img {
    max-width: 80%;
    width: 500px;
        margin-top: 6px;
    margin-bottom: 6px; }
  #showcase .absolute-image {
    position: absolute;
    left: 65px;
    top: 50px; }
  #showcase .opposite-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #showcase .opposite {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1; }
  #showcase .opposite .absolute-image {
    left: 15px;
    top: 50px; }
  #showcase .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    #showcase .info i {
      padding-right: 1rem;
      -webkit-background-clip: text;
      color: transparent;
      font-size: 1.7rem; }

/* ------------------------------------- */
/* *. 9 - Subscribe Styles ............ */
/* ------------------------------------- */
#subscribe {
  position: relative;
  background: #363636;
  background: -webkit-linear-gradient(29deg, #232323, #474747);
  background: -webkit-linear-gradient(61deg, #232323, #474747);
  background: linear-gradient(29deg, #232323, #474747);
  color: #ffffff;
  overflow: hidden; }
  #subscribe .container {
    position: relative;
    z-index: 10;
    margin-bottom: 0; }
  #subscribe .subscribe-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  #subscribe .title {
    color: inherit;
    padding: 2rem 0 0;
    margin: 0 0 2rem;
    text-align: left;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500; }
  #subscribe form {
    position: relative;
    padding-left: 0;
    padding-right: 1rem;
    margin: 0;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  #subscribe input {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 1rem 0 1rem 1rem;
    color: #0b0b0b;
    margin-bottom: 0; }
  #subscribe label {
    padding: 0.5rem 3rem;
    font-weight: 500;
    font-size: 1.3rem; }
    #subscribe label::after {
      -webkit-transform: translateY(75px);
              transform: translateY(75px);
      font-weight: 500; }
  #subscribe label.active {
    -webkit-transform: translateY(-37px) scale(0.8);
            transform: translateY(-37px) scale(0.8);
    font-size: 1.3rem;
    color: #d6d6d6; }
  #subscribe button {
    border-radius: 0 30px 30px 0;
    width: 10rem;
    border: none;
    display: inline-block;
    position: absolute;
    right: -1px;
    overflow: hidden;
    top: 0;
    height: 100%; }
    #subscribe button:hover .first {
      -webkit-transform: translateX(0);
              transform: translateX(0); }
    #subscribe button:hover .second {
      -webkit-transform: translateX(200px);
              transform: translateX(200px); }
  #subscribe i {
    font-size: 2rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  #subscribe .fa-spinner,
  #subscribe .fa-check-circle-o {
    color: #3dbf28; }
  #subscribe .fa-times-circle {
    color: #ff261e; }
  #subscribe .first {
    position: absolute;
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    color: #0b0b0b; }
  #subscribe .alert-message {
    text-align: center; }

/* ------------------------------------- */
/* *. 10 - Screenshots Styles .......... */
/* ------------------------------------- */
#screenshot .container {
  position: relative; }
#screenshot .carousel {
  height: 900px;
  width: 100%;
  margin-top: -25rem; 
}

  
#screenshot .navigation {
  position: relative;
  z-index: 1000;
  width: 100%;
  font-size: 2rem;
  line-height: 0; }
  #screenshot .navigation i {
    color: inherit; }
#screenshot .nav-prev,
#screenshot .nav-next {
  display: inline-block;
  padding: 1rem 1rem 0;
  cursor: pointer; }
  #screenshot .nav-prev:hover i,
  #screenshot .nav-next:hover i {
    color: #a1999e;
    -webkit-transition: color 0.5s;
    transition: color 0.5s; }

/* ------------------------------------- */
/* *. 11 - Testimonials Styles ......... */
/* ------------------------------------- */
#testimonials {
  position: relative;
  background: url("http://placehold.it/412x412") repeat;
  color: #ffffff; }
  #testimonials .overlay {
    opacity: 0.6; }
  #testimonials .container {
    position: relative;
    z-index: 10; }
  #testimonials .reflection-text {
    color: inherit; }
  #testimonials img {
    border: 5px solid #ffffff;
    width: 120px;
    margin: 1rem auto; }
  #testimonials p {
    max-width: 700px;
    margin: 0 auto;
    color: inherit; }
  #testimonials h5,
  #testimonials h6 {
    color: inherit; }
  #testimonials i {
    color: #fac918; }

/* ------------------------------------- */
/* *. 12 - Team Styles ................. */
/* ------------------------------------- */
#team figure {
  position: relative;
  text-align: center;
  cursor: pointer;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden; }
  #team figure:hover img {
    opacity: 0.8;
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  #team figure img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  #team figure figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    opacity: 0;
    color: #fff;
    -webkit-transition: all 1s;
    transition: all 1s; }
  #team figure .name {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    margin: -0.4rem auto 0; }
#team .team-name {
  color: transparent;
  -webkit-background-clip: text;
  margin: 0;
  padding: 1rem;
  border-top: none; }
#team .icons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-50%, -65%, 0);
          transform: translate3d(-50%, -65%, 0);
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  width: 100px;
  text-transform: none;
  font-size: 121%;
  line-height: 2; }
#team figcaption::before {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 200px;
  height: 200px;
  border: 2px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
          transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  background: inherit; }
#team a {
  color: #fff; }
  #team a i {
    opacity: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer; }
    #team a i:hover {
      color: #001a1d; }
#team p a:first-child i {
  -webkit-transform: translate3d(-60px, -60px, 0);
          transform: translate3d(-60px, -60px, 0); }
#team p a:nth-child(2) i {
  -webkit-transform: translate3d(60px, -60px, 0);
          transform: translate3d(60px, -60px, 0); }
#team p a:nth-child(3) i {
  -webkit-transform: translate3d(-60px, 60px, 0);
          transform: translate3d(-60px, 60px, 0); }
#team p a:nth-child(4) i {
  -webkit-transform: translate3d(60px, 60px, 0);
          transform: translate3d(60px, 60px, 0); }
#team figure:hover figcaption::before {
  opacity: 0.9;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
          transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1); }
#team figure:hover figcaption {
  opacity: 0.9; }
#team figure:hover p i:empty {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1; }

/* ------------------------------------- */
/* *. 13 - Download Styles ............. */
/* ------------------------------------- */
#download {
  position: relative;
  background: url("http://placehold.it/2000x1245") center fixed;
  color: #ffffff;
  overflow: hidden; }
  #download .reflection-text {
    color: inherit; }
  #download p {
    color: inherit;
    text-align: left;
    margin-left: 0; }
  #download p {
    max-width: 500px; }
  #download .overlay {
    opacity: 0.9; }
  #download .container {
    position: relative;
    z-index: 10; }
  #download a {
    padding: 0.6rem 2rem;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 1rem 0.5rem;
    border-radius: 30px;
    border: 1px solid #ffffff;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: inherit;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.08); }
    #download a:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
      -webkit-transform: translateY(-2px);
              transform: translateY(-2px); }
    #download a .big-icon {
      font-size: 1.8rem;
      padding-right: 1rem;
      padding-left: 0.5rem; }
    #download a .text {
      font-weight: 500;
      font-size: 1.3rem;
      line-height: 1.5rem; }
      #download a .text small {
        font-weight: 400; }
  #download img {
    position: absolute;
    right: -8rem;
    bottom: 0;
    -webkit-transform: rotateZ(-40deg);
            transform: rotateZ(-40deg);
    top: -8rem; }

/* ------------------------------------- */
/* *. 14 - News Styles ................. */
/* ------------------------------------- */
#news .owl-news {
  padding-top: 4rem; }
#news figure {
  margin: 0;
  position: relative; }
  #news figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; }
    #news figure figcaption .overlay {
      opacity: 0.7; }
    #news figure figcaption .stats {
      z-index: 20;
      position: relative; }
      #news figure figcaption .stats span {
        display: block; }
    #news figure figcaption a,
    #news figure figcaption span {
      color: #ffffff;
      font-size: 1.3rem;
      font-weight: 500; }
    #news figure figcaption i {
      padding: 0.5rem; }
    #news figure figcaption .search i {
      font-size: 3rem;
      color: #ffffff;
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
      -webkit-transition: -webkit-transform 0.4s ease-in-out 0.1s;
      transition: -webkit-transform 0.4s ease-in-out 0.1s;
      transition: transform 0.4s ease-in-out 0.1s;
      transition: transform 0.4s ease-in-out 0.1s, -webkit-transform 0.4s ease-in-out 0.1s; }
#news figure:hover figcaption {
  opacity: 1; }
#news figure:hover .search i {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px); }
#news .info {
  margin: -0.4rem auto 0;
  text-align: left;
  padding: 1rem 0 1rem; }
  #news .info h5 {
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }
  #news .info p {
    margin: 0; }
  #news .info span {
    padding-right: 1rem; }
  #news .info span i {
    opacity: 1;
    font-size: 1rem;
    color: transparent;
    -webkit-background-clip: text;
    padding-right: 0.5rem; }
#news h5:hover {
  color: #0b0b0b; }
#news .shadow-button {
  padding: 0.5rem 2rem; }

/* ------------------------------------- */
/* *. 15 - Video Styles ................ */
/* ------------------------------------- */
#video {
  position: relative;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff; }
  #video .overlay {
    opacity: 0.9; }
  #video .container {
    position: relative;
    z-index: 10; }
  #video .reflection-text,
  #video p {
    color: inherit; }
  #video .icon-button i {
    display: inline-block;
    margin: 15px 30px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    z-index: 1;
    color: inherit;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -webkit-transition: background 0.2s, -webkit-transform ease-out 0.1s;
    transition: background 0.2s, -webkit-transform ease-out 0.1s;
    transition: transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s, -webkit-transform ease-out 0.1s; }
  #video .icon-button i:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    box-sizing: content-box; }
  #video .icon-button i:before {
    speak: none;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    font-size: 7rem; }
  #video .icon-button i:hover {
    background: rgba(255, 255, 255, 0);
    -webkit-transform: scale(0.93);
    transform: scale(0.93);
    color: inherit; }
  #video .icon-button i:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms; }
@-webkit-keyframes sonarEffect {
  0% {
    opacity: 0.3; }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px rgba(39, 38, 39, 0.6), 0 0 0 10px rgba(255, 255, 255, 0.5); }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px rgba(39, 38, 39, 0.6), 0 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0; } }
@keyframes sonarEffect {
  0% {
    opacity: 0.3; }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px rgba(39, 38, 39, 0.6), 0 0 0 10px rgba(255, 255, 255, 0.5); }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px rgba(39, 38, 39, 0.6), 0 0 0 10px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0; } }
/* ------------------------------------- */
/* *.16 - Prices Styles ................ */
/* ------------------------------------- */
#prices {
  overflow: hidden; }
  #prices .price-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  #prices .price {
    position: relative;
    padding: 2rem 1rem 4rem;
    margin: 1rem auto;
    max-width: 450px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
  #prices .price:not(.best):hover .overlay {
    opacity: 0.3; }
  #prices .overlay {
    left: 5%;
    width: 90%;
    margin: 0 auto;
    opacity: 0.1;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    -webkit-transition: opacity 0.4s ease-out;
    transition: opacity 0.4s ease-out; }
  #prices .best {
    color: #ffffff; }
  #prices .best .overlay {
    opacity: 0.9; }
  #prices h5, #prices h3, #prices li, #prices a {
    color: inherit; }
  #prices .info {
    position: relative;
    z-index: 10; }
  #prices small {
    font-size: 1rem; }
  #prices .sale-box {
    position: absolute;
    top: 0;
    overflow: hidden;
    padding: 2rem 1rem 4rem;
    height: 100px;
    width: 100%;
    text-align: center;
    z-index: 10;
    right: 0; }
    #prices .sale-box span.on_sale {
      font-size: 1rem;
      color: rgba(255, 255, 255, 0.65);
      text-transform: uppercase;
      text-align: center;
      display: block;
      position: absolute;
      right: 8%;
      top: 17%;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-transform: rotate(40deg);
              transform: rotate(40deg); }
  #prices hr {
    width: 80%;
    margin: 0 auto; }
  #prices ul {
    margin-bottom: 2rem; }
  #prices ul li {
    padding: 0.5rem; }
  #prices .shadow-button {
    position: absolute;
    padding: 1rem 4rem;
    bottom: 2rem;
    display: block;
    width: 80%;
    left: 10%;
    z-index: 10; }
  #prices .best .shadow-button {
    border: 1px solid #ffffff; }

/* ------------------------------------- */
/* *. 17 - Statistics Styles ........... */
/* ------------------------------------- */
#statistics {
  position: relative;
  background: url("http://placehold.it/2000x1245") bottom fixed;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  color: #ffffff; }
  #statistics .overlay {
    opacity: 0.9; }
  #statistics .container {
    position: relative;
    z-index: 10; }
  #statistics h3,
  #statistics h4,
  #statistics h5,
  #statistics i,
  #statistics p {
    color: inherit; }
  #statistics i {
    -webkit-background-clip: text;
    border-radius: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 100px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto; }
    #statistics i:hover {
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.22); }

/* ------------------------------------- */
/* *. 18 - FAQs Styles ................. */
/* ------------------------------------- */
#faq {
  overflow: hidden; }
  #faq .faq-image {
    position: relative; }
  #faq .absolute-image {
    position: absolute;
    top: -1rem;
    left: -6rem; }
  #faq ul li {
    margin: 1rem 0; }
  #faq .collapsible-container {
    -webkit-tap-highlight-color: transparent; }
  #faq .collapsible-header {
    position: relative;
    color: #ffffff; }
    #faq .collapsible-header span {
      font-size: 1.2rem; }
  #faq .collapsible-header::after {
    content: "\f067";
    font-family: 'FontAwesome';
    position: absolute;
    right: 1rem; }
  #faq .collapsible-header.active::after {
    content: "\f068"; }
  #faq .plus {
    position: absolute;
    right: 3rem; }

/* ------------------------------------- */
/* *. 19 - Map Styles .................. */
/* ------------------------------------- */
#map-section #map {
  height: 800px; }
#map-section #map {
  margin: 0;
  padding: 0;
  max-width: none; }
#map-section p,
#map-section h5 {
  color: #0b0b0b; }
#map-section #iw-container {
  border-radius: 11px !important;
  background-color: rgba(255, 255, 255, 0.97); }
#map-section .iw-content {
  margin-right: 1px;
  padding: 15px 5px 20px 15px;
  max-height: 120px;
  overflow-y: auto;
  overflow-x: hidden; }

/* ------------------------------------- */
/* *. 20 - Footer Styles ............... */
/* ------------------------------------- */
#footer {
  position: relative;
  background: url("../images/concrete_wall.png") repeat;
  padding-bottom: 1rem; }
  #footer .footer-main {
    position: relative;
    top: -500px;
    left: 0;
    margin-bottom: -500px;
    overflow: hidden; }
    #footer .footer-main h3 {
      margin-top: 0; }
  #footer .main-section {
    width: 90%;
    background: #ffffff;
    margin: 0 auto;
    max-width: 1280px; }
  #footer .contact-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #footer form {
    padding: 0 2rem; }
    #footer form input {
      padding-top: 1rem; }
  #footer .prefix {
    padding: 1rem 1rem 0 0; }
  #footer .alert-message p {
    text-align: center; }
  #footer .alert-message i {
    font-size: 1.6rem;
    color: #3dbf28; }
  #footer .alert-message .fa-times-circle {
    color: #ff261e; }
  #footer button {
    width: 80%;
    padding: 0.5rem 0;
    font-size: 1.4rem;
    color: #ffffff;
    margin-top: 2rem;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    display: inline-block;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.08); }
    #footer button:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
      -webkit-transform: translateY(-2px);
              transform: translateY(-2px); }
  #footer .address .address-icon {
    padding: 0 1rem;
    font-size: 2rem;
    color: #292929; }
  #footer .address p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  #footer .address a {
    color: inherit; }
  #footer .address a:hover {
    color: #0b0b0b; }
  #footer .address span {
    text-align: left; }
  #footer .social-icons {
    text-align: center; }
    #footer .social-icons i {
      border-radius: 100px;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
      font-size: 1.4rem;
      width: 45px;
      height: 45px;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      color: #ffffff;
      margin: 0 0.5rem; }
    #footer .social-icons i:hover {
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22); }
  #footer .footer-content h5 {
    color: #c6c6c6; }
  #footer .footer-content p {
    color: #9b9b9b;
    -webkit-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out; }
  #footer .footer-content a p:hover {
    color: #cdcdcd; }
  #footer .footer-content .chip {
    background-color: #a7a7a7;
    -webkit-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out; }
  #footer .footer-content .chip:hover {
    background-color: #e4e4e4; }
  #footer .footer-content .title {
    width: 150px; }
  #footer .footer-content .logo {
    width: 50px; }
  #footer .footer-content .news p {
    margin: 0; }
  #footer .footer-content .insta ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    #footer .footer-content .insta ul li {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 40%;
          -ms-flex: 0 0 40%;
              flex: 0 0 40%;
      padding: 0.4rem; }
    #footer .footer-content .insta ul img {
      max-width: 100%;
      height: auto; }
  #footer .news img,
  #footer .insta img {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out; }
    #footer .news img:hover,
    #footer .insta img:hover {
      -webkit-filter: none;
              filter: none;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

/* ------------------------------------- */
/* *. 21 - Copy Rights Styles .......... */
/* ------------------------------------- */
#copy-rights {
  background: url("../images/concrete_wall.png") repeat; }
  #copy-rights .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    color: #e2e2e2;
    padding-bottom: 1rem; }
  #copy-rights p {
    color: inherit;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-align: center;
    margin-bottom: 0; }
  #copy-rights .social-icons {
    margin-top: 1rem;
    font-size: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    text-align: center; }
  #copy-rights i {
    width: 30px;
    height: 30px;
    margin: 0 0.2rem;
    color: #e2e2e2;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: none; }

/* ------------------------------------- */
/* *. 22 - Animated Demos .............. */
/* ------------------------------------- */
#main-header canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 11;
  height: 100%; }
#main-header #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100; }
#main-header .video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  overflow: hidden; }
#main-header .waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  top: 0;
  margin: auto; }
  #main-header .waveWrapper .waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px; }
  #main-header .waveWrapper .bgTop {
    z-index: 15;
    opacity: 0.5; }
  #main-header .waveWrapper .bgBottom {
    z-index: 5; }
  #main-header .waveWrapper .wave {
    position: absolute;
    left: 0;
    width: 500%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom; }
  #main-header .waveWrapper .waveTop {
    background-image: url("../images/background/wave1.png");
    background-size: 40% 100px; }
  #main-header .waveWrapper .waveBottom {
    background-image: url("../images/background/wave1.png");
    background-size: 40% 100px; }
  #main-header .waveWrapper .waveBottom {
    -webkit-animation: move_wave 25s linear infinite;
            animation: move_wave 25s linear infinite; }

@-webkit-keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1); }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55); }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1); } }

@keyframes move_wave {
  0% {
    -webkit-transform: translateX(0) translateZ(0) scaleY(1);
            transform: translateX(0) translateZ(0) scaleY(1); }
  50% {
    -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
            transform: translateX(-25%) translateZ(0) scaleY(0.55); }
  100% {
    -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
            transform: translateX(-50%) translateZ(0) scaleY(1); } }
#main-header.parallax-main-header {
  background: #000000;
  overflow: hidden; }
  #main-header.parallax-main-header #svg {
    position: absolute;
    top: 0;
    left: -800px;
    overflow: hidden; }
  #main-header.parallax-main-header .layer {
    width: 100%;
    height: 100%;
    position: relative; }
  #main-header.parallax-main-header .header-layer {
    width: 100%;
    height: 100%;
    position: relative; }
  #main-header.parallax-main-header .header-text {
    width: 100%;
    margin: 0;
    padding: 0;
    top: 45%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0; }
    #main-header.parallax-main-header .header-text .description {
      max-width: 700px;
      margin: 0 auto;
      padding: 1rem 1.5rem; }
  #main-header.parallax-main-header .title-link {
    display: inline-block;
    margin: 0 auto 1rem; }
  #main-header.parallax-main-header .parallax {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden; }
    #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(1) {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: rotate(-200deg) translate3d(60px, -90px, 50px);
              transform: rotate(-200deg) translate3d(60px, -90px, 50px); }
      #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(1) .parallax-animate {
        -webkit-animation: wave 25s 0.2s infinite linear;
                animation: wave 25s 0.2s infinite linear;
        width: 100%;
        height: 100%; }
    #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(2) {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: rotate(-120deg) translate3d(20px, 200px, 50px);
              transform: rotate(-120deg) translate3d(20px, 200px, 50px); }
      #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(2) .parallax-animate {
        -webkit-animation: wave 35s 0.4s infinite linear;
                animation: wave 35s 0.4s infinite linear;
        width: 100%;
        height: 100%; }
    #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(3) {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: rotate(90deg) translate3d(30px, -80px, 50px);
              transform: rotate(90deg) translate3d(30px, -80px, 50px); }
      #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(3) .parallax-animate {
        -webkit-animation: wave 15s 0.6s infinite linear;
                animation: wave 15s 0.6s infinite linear;
        width: 100%;
        height: 100%; }
    #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(4) {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: rotate(320deg) translate3d(100px, 230px, 50px);
              transform: rotate(320deg) translate3d(100px, 230px, 50px); }
      #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(4) .parallax-animate {
        -webkit-animation: wave 18s 0.3s infinite linear;
                animation: wave 18s 0.3s infinite linear;
        width: 100%;
        height: 100%; }
    #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(5) {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: rotate(300deg) translate3d(-9px, -113px, 72px);
              transform: rotate(300deg) translate3d(-9px, -113px, 72px); }
      #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(5) .parallax-animate {
        -webkit-animation: wave 19s 0.6s infinite linear;
                animation: wave 19s 0.6s infinite linear;
        width: 100%;
        height: 100%; }
    #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(6) {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: rotate(-20deg) translate3d(20px, 140px, 50px);
              transform: rotate(-20deg) translate3d(20px, 140px, 50px); }
      #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(6) .parallax-animate {
        -webkit-animation: wave 20s 0.8s infinite linear;
                animation: wave 20s 0.8s infinite linear;
        width: 100%;
        height: 100%; }
    #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(7) {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: rotate(80deg) translate3d(60px, 180px, 50px);
              transform: rotate(80deg) translate3d(60px, 180px, 50px); }
      #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(7) .parallax-animate {
        -webkit-animation: wave 21s 0.3s infinite linear;
                animation: wave 21s 0.3s infinite linear;
        width: 100%;
        height: 100%; }
    #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(8) {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: rotate(40deg) translate3d(200px, 350px, 50px);
              transform: rotate(40deg) translate3d(200px, 350px, 50px); }
      #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(8) .parallax-animate {
        -webkit-animation: wave 22s 0.14s infinite linear;
                animation: wave 22s 0.14s infinite linear;
        width: 100%;
        height: 100%; }
    #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(9) {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: rotate(-120deg) translate3d(20px, 200px, 50px);
              transform: rotate(-120deg) translate3d(20px, 200px, 50px); }
      #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(9) .parallax-animate {
        -webkit-animation: wave 23s 0.17s infinite linear;
                animation: wave 23s 0.17s infinite linear;
        width: 100%;
        height: 100%; }
    #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(10) {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: rotate(10deg) translate3d(50px, 120px, 50px);
              transform: rotate(10deg) translate3d(50px, 120px, 50px); }
      #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(10) .parallax-animate {
        -webkit-animation: wave 24s 0.19s infinite linear;
                animation: wave 24s 0.19s infinite linear;
        width: 100%;
        height: 100%; }
    #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(11) {
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-transform: rotate(10deg) translate3d(12px, 240px, 50px);
              transform: rotate(10deg) translate3d(12px, 240px, 50px); }
      #main-header.parallax-main-header .parallax .parallax-wrapper:nth-child(11) .parallax-animate {
        -webkit-animation: wave 25s 0.2s infinite linear;
                animation: wave 25s 0.2s infinite linear;
        width: 100%;
        height: 100%; }
    #main-header.parallax-main-header .parallax img {
      opacity: 0.7; }
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg); } }
@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
            transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
            transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg); } }
/* ------------------------------------- */
/* *. 23 - Blog Page ................... */
/* ------------------------------------- */
.blog #main-header {
  height: 300px;
  min-height: 300px; }
  .blog #main-header .title {
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    background: url("../images/blog-bg.png") no-repeat center bottom;
    overflow: hidden; }
  .blog #main-header h2 {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    color: inherit; }
.blog #news figure figcaption .overlay {
  height: 97%; }
.blog .pagination i {
  font-size: 1rem;
  padding: 0 2rem; }
.blog .pagination .active {
  background-color: #00e0ff; }
.blog .single-news {
  padding-bottom: 3rem; }
  .blog .single-news .shadow-button {
    margin-top: 0; }
.blog .content {
  padding: 3rem 1rem 0; }
.blog .sidebar {
  padding: 0 1rem; }
  .blog .sidebar form {
    position: relative;
    padding-left: 0;
    width: 100%; }
    .blog .sidebar form input {
      background-color: #ffffff;
      border-radius: 20px;
      color: #0b0b0b;
      margin: 0;
      padding: 0;
      border: 1px solid #9e9e9e;
      border-right: none; }
    .blog .sidebar form label {
      padding: 0 2rem;
      font-weight: 500;
      font-size: 1.3rem;
      -webkit-transform: translateY(7px);
              transform: translateY(7px); }
      .blog .sidebar form label::after {
        -webkit-transform: translateY(75px);
                transform: translateY(75px);
        font-weight: 500; }
    .blog .sidebar form label.active {
      -webkit-transform: translateY(-37px) scale(0.8);
              transform: translateY(-37px) scale(0.8);
      font-size: 1.3rem; }
    .blog .sidebar form button {
      border-radius: 0 30px 30px 0;
      width: 3rem;
      border: none;
      display: inline-block;
      position: absolute;
      right: -1px;
      overflow: hidden;
      top: 0;
      height: 100%; }
    .blog .sidebar form i {
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      color: #ffffff; }
.blog .btn-large {
  line-height: 56px; }
.blog .collection a {
  width: 100%;
  height: 100%;
  display: block;
  color: #0a0e0a; }
  .blog .collection a:hover {
    color: #363537; }
    .blog .collection a:hover .btn-floating {
      background: #ffffff;
      color: black; }
.blog .collection .collection-item {
  min-height: inherit; }
.blog .collection .collection-item:not(.tags):hover {
  background-color: #f6f6f6; }
.blog .collection .tags a {
  width: auto;
  height: auto;
  display: inline-block; }
  .blog .collection .tags a:hover {
    background-color: #f6f6f6; }
.blog .collection .social a i {
  margin-top: 0;
  border: none;
  line-height: 2.5rem; }
  .blog .collection .social a i:hover {
    color: #ffffff; }
.blog .collection .btn-floating {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 0.7rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
.blog .comments .collection,
.blog .comments .collection-item {
  border: none; }
.blog .comments .collection-item {
  margin-top: 2rem; }
.blog .comments .reply {
  margin-left: 2rem; }
.blog .comments p {
  margin: 0;
  padding: 0.5rem 0; }
.blog .comments .admin {
  border: 2px solid #f70000; }
.blog .comments a {
  border: 1px solid #0c0c0c;
  padding: 0 1rem;
  display: inline-block;
  width: auto;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out; }
  .blog .comments a:hover {
    color: #f1f1f1;
    background: #0d0d0d; }
.blog #comment-form {
  padding: 0 2rem; }
  .blog #comment-form input {
    padding-top: 1rem; }
  .blog #comment-form .prefix {
    padding: 1rem 1rem 0 0; }
  .blog #comment-form .alert-message p {
    text-align: center; }
  .blog #comment-form .alert-message i {
    font-size: 1.6rem;
    color: #3dbf28; }
  .blog #comment-form .alert-message .fa-times-circle {
    color: #ff261e; }
  .blog #comment-form button {
    width: 80%;
    padding: 0.5rem 0;
    font-size: 1.4rem;
    color: #ffffff;
    margin-top: 2rem;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    display: inline-block;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 15px 0 rgba(0, 0, 0, 0.08); }
    .blog #comment-form button:hover {
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.28), 0 4px 15px 0 rgba(0, 0, 0, 0.25);
      -webkit-transform: translateY(-2px);
              transform: translateY(-2px); }
.blog #subscribe {
  padding: 4rem 0 0;
  background: url("../images/concrete_wall.png") repeat; }
.blog #footer {
  padding: 0; }
  .blog #footer .footer-main {
    top: 0;
    margin-bottom: 0; }

/* ------------------------------------- */
/* *. 24 - 404 Page .................... */
/* ------------------------------------- */
#not-found {
  background: url("http://placehold.it/2000x1245");
  background-size: cover;
  min-height: 100vh;
  position: relative;
  text-align: center; }
  #not-found .overlay {
    opacity: 0.8; }
  #not-found .container {
    position: relative;
    min-height: 100vh;
    z-index: 12;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    color: #ffffff; }
  #not-found h5, #not-found a, #not-found p, #not-found i {
    color: inherit; }
  #not-found .image {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    width: 40%; }
    #not-found .image img {
      width: 250px;
      margin: 2rem; }
  #not-found .main {
    width: 60%;
    text-align: center;
    margin: 2rem 0;
    text-transform: uppercase;
    letter-spacing: 0.2rem; }
    #not-found .main img {
      width: 250px;
      margin-bottom: 1rem; }
  #not-found .not-found {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 3rem; }
  #not-found .slogan {
    border: 1px solid #ffffff;
    border-radius: 10px;
    display: inline-block;
    padding: 0.7rem 2rem;
    letter-spacing: 0.6rem; }
    #not-found .slogan i {
      font-size: 1rem;
      padding-right: 1rem;
      display: -webkit-inline-box;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }

/* ------------------------------------- */
/* *. 25 - Media Queries ............... */
/* ------------------------------------- */
@media screen and (min-width: 1400px) {
  #main-header .title {
    font-size: 100px; }
  #main-header .slider .slides li .left-align {
    left: 40%; } }
@media screen and (min-width: 600px) {
  #features {
    background: url("img/space.jpg") top center fixed; }

  #video {
    background: url("http://placehold.it/2000x1245") repeat center center fixed; } }
@media screen and (max-width: 1120px) {
  #features .feature-link::after,
  #features .feature-link::before {
    display: none; } }
@media screen and (max-width: 992px) {
  html {
    font-size: 13px; }

  nav .brand-logo {
    left: 7rem; }

  .owl-nav {
    display: none; }

  #main-nav .button-collapse {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

  #main-header {
    max-height: 1500px; }

  #main-header:not(.parallax-main-header) {
    height: auto;
    min-height: inherit; }
    #main-header:not(.parallax-main-header) .header-section {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    #main-header:not(.parallax-main-header) iframe {
      width: 400px;
      height: 450px; }
    #main-header:not(.parallax-main-header) .header-text {
      width: 80%;
      margin: 0 auto;
      padding: 2rem 0; }
    #main-header:not(.parallax-main-header) .owl-header {
      width: 100%;
      max-width: 200px;
      margin: 0 auto; }

  #main-header #ripples {
    height: 100%;
    top: 0; }

  .blog #main-header {
    height: 300px;
    min-height: 300px; }
  .blog .sidebar {
    padding: 0; }

  #features .single-feature {
    padding: 0; }
  #features .owl-features {
    padding: 1rem 0; }
  #features .feature-left .feature-link {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }

  #showcase .opposite-container {
    display: block; }

  #faq .faq-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }

  #prices .price-container {
    display: block; }
    #prices .price-container .price:not(:last-child) {
      margin-bottom: 2rem; }

  #download {
    text-align: center; }
    #download h3, #download p {
      text-align: center;
      margin-left: auto;
      margin-right: auto; }

  #subscribe .title {
    padding: 0; }

  #footer .contact-container {
    display: block; }
  #footer .address {
    padding-top: 2rem; }

  #not-found .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    #not-found .container .image {
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }
      #not-found .container .image img {
        width: 150px; } }
@media screen and (max-width: 600px) {
  html {
    font-size: 80%; }

  #main-nav.nav-up {
    top: -52px; }

  #subscribe button {
    width: 8rem; } }
@media screen and (max-width: 500px) {
  html {
    font-size: 75%; } }
@media screen and (max-width: 300px) {
  html {
    font-size: 68%; } }
