.gradient-color {
    background: #00bf8f;
    background: -moz-linear-gradient(-45deg, #00bf8f, #001510);
    background: -webkit-linear-gradient(-45deg, #00bf8f, #001510);
    background: #0a5c49;
}
.reflection-text:not(.reflection-text-white)::after {
    background: url(../../images/line-break/line-break-12.svg) no-repeat;
}