.gradient-color {
    background: #86377b;
    background: -moz-linear-gradient(120deg, #287700 20%, #7ab626 80%);
    background: -webkit-linear-gradient(120deg, #287700 20%, #7ab626 80%);
    background: linear-gradient(120deg, #287700 20%, #7ab626 80%);
}
.reflection-text:not(.reflection-text-white)::after {
    background: url(../../images/line-break/line-break-3.svg) no-repeat;
}